* { 
    font-family: sans-serif;
}
table, th, td {
    border-collapse: collapse;
    border: solid black 1px;
}
table.noborder, th.noborder, td.noborder {
    border: none;
    border-collapse: collapse;
}
td.stats {
    height: 24px;
}
.top {
    float: top;
}
.texttop {
    text-align: top;
}
.right {
    float: right;
}
.textright {
    text-align: right;
}
.textleft {
    text-align: textleft;
}
.center {
    text-align: center;
}
.improving {
    background-color: lime;
}
.worsening {
    background-color: pink;
}
.small {
    font-size: small;
}

.historicText, .historicData {
    background-color: #cbcbcb;
}

/* https://stackoverflow.com/questions/21458162/creating-watermark-using-html-and-css */
.watermark {
    position: fixed;
    top: 0; /* or whatever */
    left: 0; /* or whatever, position according to taste */
    opacity: 0.5;
    z-index: 99;
    font-size: 300px;
    color: orange;
}

.demoonly, .hidden {
    display: none;
}

.minus {
    background-color: #fff0f2;
}

.badURL {
    background-color: pink;
}
.badProject {
    background-color: red;
}

.met, .optional > .met {
    background-color: palegreen;
}
.unmet {
    background-color: pink;
}
button.projectLevel {
    border-radius: 30px;
    border-color: gold;
    border-style:solid;
}
.optional > .unmet {
    background-color: lightblue;
}
.na, .optional > .na {
    background-color: gray;
}
.question {
    background-color: coral;
}
.optional > .question {
    background-color: coral;
}

.bronze_detail_span {
    display: none;
}
.silver_detail_span {
    display: none;
}
.gold_detail_span {
    display: none;
}
.clickable_image {
    vertical-align: top;
}
.clickable_text {
    // background:none;
    border:none;
    cursor:pointer;
}
th.optional, td.optional, div.optional, button.optional, span.optional {
    background: bisque;
    font-style: oblique; // italic;
}
